html {
    width: 100%;
    font-size: 10px;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.9rem;
    line-height: 2em;
    background-color: white;
}

.container {
    width: 100%;
    padding: 1rem auto;
}

.content {
    margin: 5px auto;
    width: 80%;
    min-width: 600px;
    background-color: white;
    color: black;
}

h1 {
    font-size: 3rem;
    margin: 2rem auto;
    font-weight: bold;
}


p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 2.4rem;
}

.nav_home, .nav_user {
    font-size: 1.3rem;
    padding: 2rem;
    border-bottom: 1px solid black;
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav_home .logo {
    width: 70%;
}
.banner {
    margin: 1rem auto;
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: relative;
}

.tagline {
    position: absolute;
    top: 60%;
    left: 15%;
    color: white;
    font-size: 8rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lightondark {
    color: #E6D391;
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
}

.nav_home .nav_item {
    text-transform: uppercase;
    letter-spacing: 3px;
    align-items: center;
    width: 50%;
}

.nav_item:hover, .usernav_item:hover {
    color: #EE7764;
}

.nav_active {
    font-weight: bold;
}


.nav_user .nav_item { 
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 30%;
    text-align: center;
}

.nav_user .logo {
    width: 70%;
    padding-top: 1.2rem;
}


.nav_item_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item .usernav_item { 
    letter-spacing: 2px;
}

.u-center {
    text-align: center;
    margin: 5rem auto;
}

.u-right {
    text-align: right !important;
}

.group_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group_section_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 21%;
    margin: 3rem 2rem;
    border-radius: 5px;
}

.card_img_section {
    position: relative;
    width: 100%;
    height: auto;
}

.card_img {
    width: 100%;
    background-size: cover;
    object-position: 0% 100%;
    border-radius: 5px 5px 0 0;
}

.card_img_normal {
    filter: none;
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.card_img_section:hover .overlay {
    opacity: 1;
    display: block;
}

.card_content {
    text-align: center;
    margin: 2rem auto;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.9rem;
    font-weight: bold;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.courselink {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.courselink a:link, .courselink a:active, .courselink a:visited {
    color: #EE7764;
}

.courselink a:hover {
    color: #cf5c4a;
    border-bottom: 2px solid #cf5c4a;
}

.onespace {
    color: #EE7764;
}

.form_section {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.form_item {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.signupform_section {
    border-radius: 5px;
    background: linear-gradient(to bottom, white, #f2f2f2);
    padding: 3rem 5rem;
    margin: 5rem auto;
}

.form_intro {
    margin: 3rem auto;
    font-weight: bold;
}

.form_title {
    margin: 3rem auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E6E6EB;
    border-radius: 4px;
    box-sizing: border-box;
  }


.button_pri {
    width: auto;
    background-color: #EE7764;
    border-color: #EE7764;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

.button_sec {
    width: auto;
    background-color: white;
    border-color: #EE7764;
    color: #EE7764;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .twobuttons {
      margin-right: 5rem;
  }

  .detail_pop {
      color: white;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

.creategroup, .quitgroup {
    float: right;
}

.detail {
    width: 100%;
    display: block;
    margin-top: 5rem;
}

.picture_section {
    width: 30%;
    float: left;
}

.groupdetail_section {
    width: 60%;
    float: right;
}

.groupdetail {
    margin-bottom: 5rem;
}

.detail_title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.detail_subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.myCheckbox[type="checkbox"]:before {
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #808080;
    content: "";
    background: #FFF;
}
  
.myCheckbox[type="checkbox"]:after {
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
    content: "";
    background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.time_option {
    margin: 2rem auto;
    font-weight: normal;
}